In [10]:
import pandas as pd

#### carga de archivo csv

In [11]:
# Leer los archivos CSV
df_Countries_CO2_Emission = pd.read_csv('Countries_CO2_Emission_raw.csv')

#### muestra las primeras filas

In [12]:
df_Countries_CO2_Emission

,Unnamed: 0,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
55435,55435,Zimbabwe,coal,2019,0.045064,0.075963,37.620400,1.465420e+04,11.508701,4.482962,4.586869
55436,55436,Zimbabwe,natural_gas,2019,0.000000,0.000000,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55437,55437,Zimbabwe,petroleum_n_other_liquids,2019,0.055498,0.000000,37.620400,1.465420e+04,11.508701,4.482962,4.377890
55438,55438,Zimbabwe,nuclear,2019,NaN,NaN,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55439,55439,Zimbabwe,renewables_n_other,2019,0.068089,0.067499,37.620400,1.465420e+04,11.508701,4.482962,0.000000

##### se procede a leer la informacion del DAtaFrames, con la finalidad de encontrar valores nulos y/o faltantes, a demas se saber con que tipo de datos estamos tratando

In [13]:
# cuenta el total de filas dentro de DataFrame_NYC_air_quality
total_filas = df_Countries_CO2_Emission.shape[0]
print("La cantidad total de filas en el DataFrame_victimas es:", total_filas)

# Obtiene informaciÃ³n sobre el DataFrame_victimas
print(df_Countries_CO2_Emission.info())

La cantidad total de filas en el DataFrame_victimas es: 55440
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   55440 non-null  int64
 1   Country                      55440 non-null  object
 2   Energy_type                  55440 non-null  object
 3   Year                         55440 non-null  int64
 4   Energy_consumption           44287 non-null  float64
 5   Energy_production            44289 non-null  float64
 6   GDP                          40026 non-null  float64
 7   Population                   46014 non-null  float64
 8   Energy_intensity_per_capita  50358 non-null  float64
 9   Energy_intensity_by_GDP      50358 non-null  float64
 10  CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(2), object(2)
memory usage: 4.7+ MB
None

#### se eliminan las columnas que no son necesarias para el estudio del la contaminacion en NYC

In [14]:
# Eliminar las columnas especificadas
df_Countries_CO2_Emission = df_Countries_CO2_Emission.iloc[:, 1:]

#### cambia los nombres de las columnas

In [15]:
# Creamos un diccionario con los nombres de las columnas antiguas como claves y los nuevos nombres como valores
nuevos_nombres = {
    'Country': 'pais',
    'Energy_type': 'tipo_energia',
    'Year': 'anio',
    'Energy_consumption': 'consumo_de_energia',
    'Energy_production': 'produccion_de_energia',
    'GDP': 'PIB',
    'Populaition': 'poblacion',
    'Energy_intensity_per_capita': 'intensidad_energetica_per_capita',
    'Energy_intensity_by_GDP': 'intensidad_energetica_por_PIB',
    'CO2_emission': 'emision_de_CO2'
}

# Renombramos las columnas usando el diccionario creado
df_Countries_CO2_Emission = df_Countries_CO2_Emission.rename(columns=nuevos_nombres)

In [16]:
df_Countries_CO2_Emission

,pais,tipo_energia,anio,consumo_de_energia,produccion_de_energia,PIB,Population,intensidad_energetica_per_capita,intensidad_energetica_por_PIB,emision_de_CO2
0,World,all_energy_types,1980,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
1,World,coal,1980,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188
2,World,natural_gas,1980,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377
3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565
4,World,nuclear,1980,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000
...,...,...,...,...,...,...,...,...,...,...
55435,Zimbabwe,coal,2019,0.045064,0.075963,37.620400,1.465420e+04,11.508701,4.482962,4.586869
55436,Zimbabwe,natural_gas,2019,0.000000,0.000000,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55437,Zimbabwe,petroleum_n_other_liquids,2019,0.055498,0.000000,37.620400,1.465420e+04,11.508701,4.482962,4.377890
55438,Zimbabwe,nuclear,2019,NaN,NaN,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55439,Zimbabwe,renewables_n_other,2019,0.068089,0.067499,37.620400,1.465420e+04,11.508701,4.482962,0.000000

#### crea el archivo parquet y csv

In [17]:
# Guardar el DataFrame en un archivo CSV llamado 'NYC_air_quality_clean.csv' y en un archivo PARQUET 'NYC_air_quality.parquet'
df_Countries_CO2_Emission.to_csv('Countries_CO2_Emission.csv', index=False)
df_Countries_CO2_Emission.to_parquet('Countries_CO2_Emission.parquet', index=False)